<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066329859440-hlnvcbqnak9hke91ooj46h6mop1pskts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066329859440-hlnvcbqnak9hke91ooj46h6mop1pskts</string>
	<key>API_KEY</key>
	<string>AIzaSyAb4a-KFBnvzNusx3NHIopsVAO8V8BaFNA</string>
	<key>GCM_SENDER_ID</key>
	<string>1066329859440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fchiarello.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapclone-1d787</string>
	<key>STORAGE_BUCKET</key>
	<string>snapclone-1d787.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066329859440:ios:3f59f47fcba7a4e9cc1bb5</string>
	<key>DATABASE_URL</key>
	<string>https://snapclone-1d787.firebaseio.com</string>
</dict>
</plist>